# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Buildozer
.buildozer/
bin/

# Android
*.apk
*.aab

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Temporary
*.tmp
*.temp
